<?xml version="1.0"?>
<launch>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.009"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" 
        command="$(find xacro)/xacro '$(find trainer_robot_description)/urdf/robot.urdf.xacro'"/>

  <param name="robot_description_2" 
        command="$(find xacro)/xacro '$(find trainer_robot_description)/urdf/world.urdf.xacro'"/>

  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z 0.02" />
  <node name="urdf_spawner_world" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description_2 -model world -x $(arg x) -y $(arg y) -z $(arg z)" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- <include file="$(find trainer_robot_description)/launch/control_robot.launch" /> -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find trainer_robot_description)/rviz/visualize.rviz"/>

</launch>